html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}
footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}
.button-right{
    float: right;
    padding-bottom: 5px;
}

body{
    background: whitesmoke !important;
}

.footer{
    background-color:#2C3E50 !important;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial;
}

label.error{
    color:#FF0000;
}
select.error, textarea.error, input.error{
    border-color:#FF0000 !important;
}

.sidebar_active{
    background-color: #eeeeee;
}

.login-form{
    width: 50%;
    margin-top: 5%;
}

.login-input{
    text-align: center;
}

.dropzone {
    border: 2px dashed #0087F7 !important;
    border-radius: 5px !important;
}

.register-form{
    width: 50%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.container-fluid .text-muted {
    margin: 20px 0;
}

.footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-primary{
    border-bottom: solid #337ab7;;
}

code {
    font-size: 80%;
}


.navbar-brand{
    text-transform: none !important;
}

.grettings_message{
    text-transform: none !important;
    color: black !important;
}

p {
    padding-top: 10px !important;
    margin: 0 !important;
    font-size: 16px !important;
}

.main_page_header{
    background-color: whitesmoke !important;
    color: black;
}

#sidebar-wrapper{
    background-color: #42586E !important;
}

.sidebar-nav>.sidebar-brand a, .sidebar-nav li a {
    color: white !important;
}

.exam_page{
    margin-top: 75px;
}

.question_panel{
    max-width: 700px;
    margin: 0 auto;
}

.mc_question_text{
    padding-left: 20px;
}

.left{
    float: left !important;
}

.right{
    float: right !important;
}

.exam_question_description{
    margin-left: 15px;
    margin-bottom: 10px;
}

#pagination-container{
    display: inline-block;
    margin-bottom: 10px;
}

.your-clock{
    zoom: 0.55;
    -moz-transform: scale(0.55)
}

.flip-clock-label
{
    display: none !important;
}

.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    color: #FFF;
}

.nopadding{
    padding: 0;
}

.tf-select{
    margin-right: 10px;
}

.mc_question_text{
    margin-left: 5px;
}

